<!DOCTYPE html lang="en">

<html>

<head>
    {% block title %}<Title>Rincón Personal - Jesús Lázaro</Title>{% endblock title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style1.css" type="text/css">
    <link rel="shorcut icon" type="image/png" href="https://drive.google.com/uc?export=view&id=1psx7WjAvxpsQTrZtz4eURsRM9bgNSh2R">
</head>

<body id="container">
    {% block content %}
    {% endblock content %}
</body>