{% extends "base.html" %}

{% block title%}
    <title>Jesús Lázaro</title>
{% endblock title %}

{% block content %}
    <h1>Jesús Lázaro</h1>
    <h2>Espacio Personal</h2>


<div class="box">
    <div id="intro-1">
        <img class="image" src="https://drive.google.com/uc?export=view&id=1DD6lbgvYpoHHUpV-JO41dgNH-fyxWxNk"  alt="foto perfil" onmouseover="this.src='https://drive.google.com/uc?export=view&id=1-ySeydL24wWUKUAgipESYfUd_93WRyRW'" onmouseout="this.src='https://drive.google.com/uc?export=view&id=1DD6lbgvYpoHHUpV-JO41dgNH-fyxWxNk'">
    </div>
    <div id="intro-2">
        <p>Licenciado en Psicología, realicé el master de <a href="https://www.ub.edu/web/ub/es/estudis/oferta_formativa/master_universitari/fitxa/M/MD504/index.html" title="MIM-UB" target="blank">Marketing e Investigación de Mercados</a> en la Universitat de Barcelona. Actualmente trabajo en el sector
            de la distribución y el gran consumo, dentro del departamento de marketing de Tiendanimal, una empresa <a href="https://economipedia.com/definiciones/category-killer.html" title="¿Qué es un Cateogry Killer?" target="blank">Category Killer</a> focalizada en la distribución de artículos y prestación de servicios para mascotas.
        </p>
    </div>
    <div id="intro-2">
        <p><a href="/aficiones" title="aficiones" target="_self">     AFICIONES       </a>  <a href="/portfolio" title="Portfolio" target="_self">    PORTFOLIO     </a> <a href="/contacto" title="Contacto" target="_self">   CONTACTO    </a>
        </p>
    </div>
</div>
{% endblock content %}